@import "tailwindcss";

@theme {
    --font-primary: "Montserrat", "sans-serif";
    --font-secondary: "Nunito Sans", "sans-serif";

    /* --breakpoint-3xl: 1920px; */
    --color-primary: #FFCE1A;
    --color-secondary: #0D0842;
    --color-blackBG: #F3F3F3;
    --color-Favorite: #FF5841;
    /* --color-avocado-500: oklch(0.84 0.18 117.33);
    --color-avocado-600: oklch(0.53 0.12 118.34);
    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1); */
    /* ... */
  }